---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-migrate-server
  namespace: data-migrate
  labels:
    app: data-migrate-server
    stack: data-migrate
    type: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: data-migrate-server
  template:
    metadata:
      labels:
        app: data-migrate-server
        stack: data-migrate
        type: server
    spec:
      hostNetwork: true
      containers:
        - name: gobench-server
          image: reg.deeproute.ai/deeproute-public/tools/data-migrate-server:latest # need update
          imagePullPolicy: Always
          # image: reg.deeproute.ai/deeproute-public/ubuntu:20.04
          # imagePullPolicy: IfNotPresent
          # command: ["/bin/bash", "-c", "--"]
          # args: [ "while true; do sleep 30; done;" ]
          env:
          - name: CONFIGFILE
            value: "/config/config.yaml"
          - name: SERVERPORT
            value: "2000"
          - name: DEBUG
            value: "true"
          - name: TRACE
            value: "true"
          ports:
            - containerPort: 2000
          #   - containerPort: 2001
          securityContext:
            privileged: true
            runAsUser: 0
          volumeMounts:
          - name: config
            mountPath: /config/
          - name: vol
            mountPath: /volume/
      volumes:
      - name: vol
        persistentVolumeClaim:
          claimName: csi-cephfs-pvc
      - name: config
        configMap:
          name: data-migrate-config
---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: data-migrate-worker
  namespace: data-migrate
  labels:
    k8s-app: data-migrate-worker
spec:
  selector:
    matchLabels:
      name: data-migrate-worker
  template:
    metadata:
      labels:
        name: data-migrate-worker
    spec:
      # tolerations:
      # - effect: NoSchedule
      #   key: node-role.kubernetes.io/master
      #hostNetwork: true
      containers:
        - name: data-migrate-worker
          image: reg.deeproute.ai/deeproute-public/tools/data-migrate-worker:latest # need update
          imagePullPolicy: "Always"
          #image: reg.deeproute.ai/deeproute-public/ubuntu:20.04
          #imagePullPolicy: IfNotPresent
          #command: ["/bin/bash", "-c", "--"]
          #args: [ "while true; do sleep 30; done;" ]
          env:
          - name: CLIENT_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: SERVERADDRESS
            value: "data-migrate-server:2000"
          - name: DEBUG
            value: "false"
          - name: TRACE
            value: "true"
          # resources:
          #   limits:
          #     memory: 200Mi
          #     cpu: 200m
          #   requests:
          #     cpu: 10m
          #     memory: 10Mi
          ports:
            - containerPort: 8888
              hostPort:  7777  # expose as host port
          securityContext:
            privileged: true
            runAsUser: 0
          volumeMounts:
          # - mountPath: /dev
          #   name: devices
          # - mountPath: /run/udev
          #   name: udev
          # - mountPath: /rootfs
          #   name: rootfs
          #   readOnly: false
          #   mountPropagation: HostToContainer
          - name: vol
            mountPath: /volume/
          # - name: config
          #   mountPath: /config/
      volumes:
      - name: vol
        persistentVolumeClaim:
          claimName: csi-cephfs-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: data-migrate-server
  namespace: data-migrate
  labels:
    app: data-migrate-server
    stack: data-migrate
spec:
  type: NodePort
  ports:
    - name: data-migrate-server
      port: 2000
      targetPort: 2000
  selector:
    app: data-migrate-server

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: data-migrate-config
  namespace: data-migrate
data:
  config.yaml: |
    report_config:
      format: csv # csv, md or html
      bucket: test
      s3_config:
        access_key: testy
        secret_key: testy
        region: us-east-1
        endpoint: http://10.3.8.32:80
        skipSSLverify: true

    global_config:
      source_fs_types:
        - yrfs
        - gpfs
      target_fs_types:
        - yrfs
        - gpfs
      tasks_file: deploy/data_sources.txt
      # --checkers 128 --transfers 128 --size-only --local-no-set-modtime --log-level INFO --log-file
      rclone_flags:
        checkers: 128
        transfers: 128
        log_level: INFO
        local_no_set_modtime: true
        size_only: true
        dryrun: true
